layers:
  base:
    - [Q, W, E, R, T]
    - [A, S, D, F, G]
    - [Z, X, C, V, B]
    - [SPACE, ENTER]

  lower:
    - [1, 2, 3, 4, 5]
    - [6, 7, 8, 9, 0]
    - [MINUS, EQUAL, LBRACKET, RBRACKET, BACKSLASH]
    - [ESC, TAB]

  raise:
    - [F1, F2, F3, F4, F5]
    - [F6, F7, F8, F9, F10]
    - [F11, F12, HOME, END, DEL]
    - [LEFT, RIGHT]

  adjust:
    - [BOOT, RESET, BT_CLR, BT_NXT, BT_PRV]
    - [BT_SEL 0, BT_SEL 1, BT_SEL 2, BT_SEL 3, BT_SEL 4]
    - [NONE, NONE, NONE, NONE, NONE]
    - [NONE, NONE]
